{#
  Variables:
  - label: The item label.
  - name: The full name of the item. Nested items are prefixed with their
    parents names.
  - type: The item data type.
  - value: The item value.
  - level: Nesting level. Starts at 1.
  - children: The child configuration.
  -'field: The name of the field this item belongs to.
  - group: The name of the group this item belongs to.
  - id: Unique id based on combined names of field + group + item. Used to
    identify items that can be compared.
  - hash: Hash based on the item value. Optionally combined with the item value
    of its children.
#}
{%
  set empty_class = children ? 'no-value' : ''
%}
<li class="fcc-item js-fcc-item" data-fcc-item="{{ name }}" data-fcc-level="{{ level }}" data-fcc-item-hash="{{ hash|slice(0, 12) }}" data-fcc-item-id="{{ id|slice(0, 12) }}">
  <label class="item-label {{ empty_class }}">{{ label }}</label>
  {% if value %}
    <span class="item-value">{{ value }}</span>
  {% elseif children %}
    {{ children }}
  {% else %}
    <div class="item-value fcc-notification fcc-notification-inline">{{ 'empty'|t }}</div>
  {% endif %}
</li>
