{#
  Variables:
  - label: Config group label.
  - field: Name of the field this group belongs to.
  - group: Configuration group machine name.
  - level: Nesting level. Starts at 1.
  - items: The config items of this group. Each item may contain children.
#}
{% if items %}
  <div class="fcc-group js-fcc-group {% if level == 1 %}js-fcc-equal-height{% endif %}" data-fcc-group="{{ group }}" data-fcc-level="{{ level }}" data-fcc-group-hash="{{ hash|slice(0, 12) }}">

    {% if label %}
      <h2 class="fcc-group-label">{{ label }}</h2>
    {% endif %}
    <ul class="fcc-items js-fcc-items">
      {{ items }}
    </ul>
  </div>
{% endif %}
